/*cloud*/
.cloud {
    background-color: $bg-cloud-color;

    .container {
        @include container;
    }

    .grid {
        @include grid;
        grid-template-columns: repeat(2, 1fr); 
    } 

}


@include breakpint(tablet){
    .cloud {
       
        .grid {
            @include grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

    }
}