/*cloud*/
.cloud {
    background-color: $bg-cloud-color;

    .container {
        @include container;
    }

    .grid {
        @include grid;
        grid-template-columns: repeat(2, 1fr); 


        .cloud-image {
            background-image: url('../../../images/cloud.png');
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 100%;
            background-position: center;
            height:300px;
        }
    } 

   

}


@include breakpint(tablet){
    .cloud {
       
        .grid {
            @include grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

    }
}