//global background color
$bg-global-color: #ffff;
$font-main-color: #333;

//navbar
$bg-navbar-color: #047aed;
$font-navbar-color: #fff;

//befor-after
$bg-befor-after-color: #fff;

//borders
$form-input-border-color: #b4becb;

//Showcast component
$bg-showcase-color:  #047aed;
$font-showcase-color:  #fff;

//Card component
$bg-card-color: #fff;
$font-card-color: #333;

//Cloud Component
$bg-cloud-color:  #047aed;


//button background color
$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$danger-color: #d9534f;

